@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.background {
    background-color: #03045e;
}

.background_img {
    background: url(../img/moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background_moon {
    background-color: #7cb3beb4;
    border: 5px solid #03045e;
    border-radius: 5px;
}

.inputs {
    background-color: #7cb3beb4;
    border: 3px solid #03045e;
    border-radius: 9px;
}

.blanco {
    color: #fff;
    text-decoration:none;
}

.negro {
    color: #000;
}

.no {
    text-decoration:none;
}

.letra {
    font-family: 'Roboto', sans-serif;
    text-size-adjust: 15px;
}

.p {
    padding-inline: 100px;
    padding-block: 25px;
}

.nave {
    padding: 15px;
}

.nave :hover {
    background-color: #00b4d8;
}

.cero {
    opacity: 0;
}